<!DOCTYPE html>
<html>
    <head>
        <title><?= (isset($scStyles) ? $scTitle : 'ScSimMvc' ); ?></title>
        <!--      
        <?  
            if (isset($scStyles) && count($scStyles) > 1 ) 
                foreach( $scStyles as $s)
                    echo $s;
             
        ?>
        -->

         <?  
            if (isset($scScripts) && count($scScripts) > 1 ) 
                foreach( $scScripts as $s)
                    echo $s;            
        ?>

    </head>
    <body>
        <h1> FRONTEND :: TEMPLATE :: HEADER </h1>
        <?=  __DIR__ ; ?>

